<style type='text/css'>
  body {
    background-color: lightgoldenrodyellow
  }
</style>

<h1>Welcome to my blog!</h1>
<body>
  <h3>Iguazu Falls</h3>
  <p>
This is one of the seven natural wonders of the world. It is a series of waterfalls that lies along the border of Argentina and Brazil. The water flow of these individual falls is the largest of any waterfall in the world. The falls are higher than Niagara Falls and twice as wide. I visited Iguazu during a summer I spent living in Argentina. I traveled there from Buenos Aires by plane and took a bus over to the Brazil side of the falls. I would highly recommend visiting if you get the chance!
  </p>
<img height=70% src="/static/iguazu.jpeg">
 <h3>Pico Turquino</h3>
  <p>
This is the highest peak in Cuba, along the southeastern part of the country in the Sierra Maestra Mountain Range. It is the peak that Fidel Castro and his army of insurgents summitted in 1957 during the Cuban Revolution. They took command of the country from that peak, which offered them an unparalleled vantage point of the country. I completed the hike in one day with a local guide. We woke up at 4 am and began hiking at 6 am and spent the next 12 hours on the mountain. My legs were so sore by the end!
  </p>
<img height=70% src="/static/turquino.jpeg">
</body>
<br>
<br>
<a href="/">Go Home</a>