 <html>
    <title>
      CSCI 707 Website
    </title>
    <head>
        <h1> Hello, World! </h1>
    </head>
    <body>
    <h3>
       <a href="/form_demo">Login</a>
    </h3>
    </body>
    <body>
      <h3><a href="https://work-topics-onlinecsteacher.emmawingreen.repl.co/about">About</a></h3>
    </body>
    <body>
        <h3><a href="https://work-topics-onlinecsteacher.emmawingreen.repl.co/lucky">I'm Feeling Lucky</a></h3>
    </body>
    <body>
      <h3><a href="https://work-topics-onlinecsteacher.emmawingreen.repl.co/list">Celebrity Numbers</a></h3>
    </body>
    <body>
      <h3><a href="https://work-topics-onlinecsteacher.emmawingreen.repl.co/session_demo">Session count</a></h3>
    </body>
</html>